# Items to ignore when downloading a zip

.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.jshintrc export-ignore
readme.md export-ignore
/assets/screenshot-1.png export-ignore
/assets/screenshot-2.gif export-ignore
/assets/banner-1544x500-rtl.png export-ignore
/assets/banner-1544x500.png export-ignore
/assets/banner-772x250-rtl.png export-ignore
/assets/banner-772x250.png export-ignore
/assets/icon-128x128.png export-ignore
/assets/icon-256x256.png export-ignore
